* {
    box-sizing: border-box;
}

html,
body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px;
    background-color: #d8d4d4;
    overflow: hidden;
}

#top-button {
    display: flex;
    padding: 1px 1px 1px 98.6px;
    background-color: #d8d4d4;
}

#top-button button {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid #a1a0a0;
    margin: 2px 0px 2px 1px;
    font-weight: bold;
}

#left-button {
    background-color: #d8d4d4;
    padding: 24.6px 1px 1px 1px;
    display: flex;
    flex-direction: column;
}

#left-button button {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid #a1a0a0;
    margin: 1px 2px 0px 2px;
    font-weight: bold;
}

#main-content {
    display: flex;
}

table {
    height: calc(100vh - 50px);
    width: 95%;
    display: block;
    overflow: scroll;

    border-collapse: separate;
    border-spacing: 0;
}

td {
    border-bottom: 1px solid #81818171;
    border-right: 1px solid #81818171;
    min-width: 110px;
    max-width: 110px;
    height: 25px;
    background-color: white;
    outline: None;
    padding: 0px 0px;
    text-align: center;
}


/* td:focus {
    border: 2px solid blue;
    outline: None;
} */

th.row {
    border-bottom: 1.5px solid #818181;
    border-right: 1.5px solid #818181;
    min-width: 110px;
    max-width: 110px;
    height: 25px;
    background-color: #fffafa;
    font-weight: normal;  
    color: #504d4d;

    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 0;
}

th.col {
    /* border-bottom: 1px solid #81818171;
    border-right: 1px solid #81818171; */
    border-bottom: 1.5px solid #818181;
    border-right: 1.5px solid #818181;
    min-width: 65px;
    max-width: 65px;
    height: 25px;
    background-color: #fffafa; 
    font-weight: normal;   
    color: #504d4d;

    position: sticky;
    position: -webkit-sticky;
    left: 0;
    z-index: 0;
}

.left-top-block {
    border-bottom: 5px solid #636262c2;
    border-right: 5px solid #636262c2;
    min-width: 65px;
    max-width: 65px;
    height: 25px;
    background-color: #fffafa; 
    font-weight: normal;   
    color: #504d4d;

    position: fixed;
    z-index: 1;
    left: 36px;
    top: 36px;
}

input {
    padding: 0px 1px 0px 1px;
    border: 0px;
    min-width: 105px;
    max-width: 105px;
    height: 20px;
}

input:focus {
    outline: none;
}
/* 
.blinking-cursor {
    font-size: 17px;
    font-weight: lighter;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-webkit-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-ms-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-o-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
} */